.jumbotron {
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1468437012950-7d4960be6383?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2011&q=80");
  margin-top: 0px;
  background-size: cover;

}

.Navbar {
  margin-bottom: 0px;
}

.hikesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.hikeList {
  display: flex;
  flex-direction: row;
  margin: 10px 15px;
  width: 100%;
  overflow:auto;

}
