@import url('https://fonts.googleapis.com/css?family=Kalam');

.createHikeFrom {
  display: flex;
  flex-direction: row;
}

main {
  margin-left: 30px;
}

.hikeInputForm {
  display: flex;
  flex-direction: column;
}

input.hikeInput {
  margin: 5px 10px;
}

.trailList {
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
  background-color: rgba(265, 265, 265, .5);
  width: 300px;
  padding: 10px 10px;
  height: 70vh;
  overflow:auto;
  color: white;
}

.trailList h5 {
  text-align: center;
}



.newHikePage {
  display: flex;
  flex-direction: row;
  background-image: url("https://images.wallpaperscraft.com/image/forest_trees_fog_110131_1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* https://images.wallpaperscraft.com/image/milky_way_august_sky_fir-trees_trees_night_45544_1920x1080.jpg

  background-color: rgba(41, 41, 163, .5) */

.searchHike {
  margin: 15px;
  border: 3px rgb(0, 102, 0);
  border-style: double;
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(265, 265, 265, .3)
}

.searchHike:hover {
  background-color: rgba(265, 265, 265, .4);
}

.trailHead {
  color:white;
}

.trailHead:hover {
  color:rgb(230, 138, 0);
}

.searchHike h2 {
  text-align: center;
  color:rgb(0, 102, 0);
  font-family: Kalam;
  text-decoration: underline;

}

.searchHike input {
  background-color: rgba(0, 102, 0, .5);
  color: white;
}

.searchHike button {
  background-color: rgb(0, 102, 0)
;
}
