
.hikeCard{
  margin: auto;
  width: 300px;
  border: 1px solid red;

}

.HikeCardRow {
  width: 100px;
  margin: 0px;
  padding: 0px;
}

.col-lg-3 {
  padding: 0px;
}
.col-md-3 {
  padding: 0px;
}
.col-sm-6 {
  padding: 0px;
}

.theContainer {
  display: grid;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  margin: 30px;
  flex-wrap: wrap;
}
