

.hikeCard {
  border: 2px solid orange;
  text-align: center;
  margin: 7px 5px;
  height: 225px;

}

.hikeCard p, .hikeCard h3 {
  width: 280px;

}

.overlay {
  opacity: 0;
  background-color: orange;
  height: 100%;
  width: 100%;
  position:relative;
  top: -21px;
  transition: .5s ease;

}

.hikeCard:hover .overlay{
  opacity: .8;

}

.hikeCardText {
  margin: auto;
  color: black;
  transform: translateY(50px);
}

span {
  position: absolute;
  right: 5px;
  top: -45px;
  cursor: pointer;
}
