

.registerPage {
  border: 1px solid black;
  background-color: rgba(244, 244, 233, 0.2);
  padding-bottom: 20px;
  display: block;
}

.registerForm {
  display: inline-block;
  vertical-align: top;
	margin:auto;
}

.loginForm {
  float: right;
}

.loginForm input {
  height: 30px;
}

.loginForm button {
  height: 30px;
}

input {
  width: 200px;
  margin: 5px;
}

.btn{
  width: 200px;
  margin: 5px;
  text-align: center;
  background-color: rgb(230, 138, 0);
}

.missionStatement {
  padding: 9px;
  display: inline-block;
  vertical-align: top;
  width: auto;
  font-size: 20px;
  margin-right: 200px;
  margin-left: 30px;
}

.innerRegister {
  display: flex;
  flex-direction: column;
	margin: auto;
}

.registerFormTag {
  display: flex;
  padding-right: 100px;
}

@media only screen and (max-width: 1440px) {

	.innerRegister {
	  display: flex;
	  flex-direction: column;
		margin: auto;
	}

	.registerForm {
	  display: inline-block;
	  vertical-align: top;
		margin-left:50px;
	}

	#welcomeH2{
		margin:auto;
	}
}
