
.cardComponents {
  /* border: 1px solid white; */
  display: table-cell;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin: 10px 10px;
  text-align: center;
}

.cardComponent img {
  border: 3px gray solid;
  margin: auto;
}

.RegForm h2 {
  display: flex;
  justify-content: flex-end;

}

.Formfield {
  display: flex;
  justify-content: flex-end;
}

p{
  width:contain;
}
